{% extends 'master/base-content.html' %}
{% load static %}
{% block content %}
<div class="modal fade" id="add_item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Silahkan Daftar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nama Barang / Produk :</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukan nama">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Foto Barang / Produk :</label>
                            <input type="file" class="form-control" id="exampleInputEmail1" placeholder="Masukan email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Jumlah :</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Masukan No Telepon">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Deskripsi :</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Harga : </label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Konfirmasi Password">
                        </div>
                        <div class="form-group">
                            <div class="col-auto my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Kategori</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                  <option selected>Pilih...</option>
                                  <option value="1">Sayuran</option>
                                  <option value="2">Makanan</option>
                                </select>
                              </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="">Daftar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="top-brands">
    <div class="container">
        <h2>{{store}}</h2>
        <div class="grid_3 grid_5">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs-in" role="tablist">
                    <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab"
                            data-toggle="tab" aria-controls="expeditions" aria-expanded="true">BARANG ANDA</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="expeditions"
                        aria-labelledby="expeditions-tab">
                        <div class="agile-tp">
                            <button type="button" style="float: right; margin-top: -10px;" class="btn btn-primary" data-toggle="modal" data-target="#add_item">
                                Tambah Barang
                            </button>
                            <h5>BARANG ANDA</h5>
                            <p class="w3l-ad">Pasang Iklan barang jualan mu disini agar meningkatkan peluang bisnis mu!
                            </p>
                        </div>
                        <div class="agile_top_brands_grids">
                            <!-- start -->
                            {% for i in item_store.values %}
                                {% for j in i %}
                                    <div class="col-md-4 top_brand_left">
                                        <div class="hover14 column">
                                            <div class="agile_top_brand_left_grid">
                                                <div class="agile_top_brand_left_grid_pos">
                                                    <img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive" />
                                                </div>
                                                <div class="agile_top_brand_left_grid1">
                                                    <figure>
                                                        <div class="snipcart-item block">
                                                            <div class="snipcart-thumb">
                                                                <a href="products.html"><img title=" " alt=" "
                                                                        src="{% static 'images/1.png' %}" /></a>
                                                                <p>{{j.name}}</p>
                                                                <div class="stars">
                                                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                                                </div>
                                                                <h4>Rp. {{j.id_desc_id.price}}</h4>
                                                            </div>
                                                            <div class="snipcart-details top_brand_home_details">
                                                                <form action="#" method="post">
                                                                    <fieldset>
                                                                        <input type="hidden" name="cmd" value="_cart" />
                                                                        <input type="hidden" name="add" value="1" />
                                                                        <input type="hidden" name="business" value=" " />
                                                                        <input type="hidden" name="item_name"
                                                                            value="Fortune Sunflower Oil" />
                                                                        <input type="hidden" name="amount" value="20.99" />
                                                                        <input type="hidden" name="discount_amount"
                                                                            value="1.00" />
                                                                        <input type="hidden" name="currency_code" value="RP" />
                                                                        <input type="hidden" name="return" value=" " />
                                                                        <input type="hidden" name="cancel_return" value=" " />
                                                                        <input type="submit" name="submit" value="Add to cart"
                                                                            class="button" />
                                                                    </fieldset>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <h3 style="text-align: center;" >Barang Kosong</h3>
                                {% endfor %}
                            {% endfor %}
                            <!-- end -->
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}